.mySlides .text{
    font-size: 20px;
}
.mySlides .numbertext{
    font-size: 20px;
}

.mySlides .text2{
    font-size: 20px;
  
}

.mySlides .text3{
    font-size: 20px;
    font-weight: bold;
}

.mySlides .text4{
    font-size: 20px;
    font-weight: bold;
    
}

#number2{
    color: #111111;
}

#number7{
    color: #111111;
}